{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/manage_users.css' %}">
</head>
<div class="card">
    <div class="card-header">
        <h2>Confirm Delete</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p style="margin-bottom: 20px;">Are you sure you want to delete "{{ object }}"?</p>
            <button type="submit" class="btn-danger">Delete</button>
            <a href="javascript:history.back()" class="submit" style="margin-left: 10px;">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
