.add-event-form {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.add-event-form label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
.add-event-form input[type="text"],
.add-event-form input[type="date"],
.add-event-form input[type="month"],
.add-event-form input[type="number"]{
    width: calc(100% - 20px); /* Adjusted width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-event-form textarea {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.add-event-form textarea {
    resize: vertical;
    width: 96%;
    height: 150px; /* Adjust as needed */
}
select,
input[type="file"] {
    width: calc(100% - 22px); /* Adjusting for padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.add-event-form input[type="submit"],
.add-event-form input[type="reset"]{
    width: 49%;
    background-color: rgb(7, 7, 44);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgb(7, 7, 44);
}
@media (max-width: 768px) {
    .add-event-form {
        width: 80%;
    }

    .add-event-form input[type="text"],
    .add-event-form input[type="date"] {
        width: calc(100% - 20px); /* Adjusted width */
        font-size: 14px;
    }
}
