
    .volunteer-form {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left;
    }

    .volunteer-form legend {
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
    }

    .volunteer-form label {
        display: block;
        margin-bottom: 5px;
    }

    .volunteer-form input[type="text"],
    .volunteer-form input[type="number"],
    .volunteer-form input[type="tel"],
    .volunteer-form input[type="date"],
    .volunteer-form input[type="email"],
    .volunteer-form select,
    .volunteer-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
    }

    .volunteer-form input[type="radio"] {
        margin-right: 5px;
    }

    .volunteer-form textarea {
        resize: vertical;
    }

    .volunteer-form input[type="submit"] {
        background-color: rgb(7, 7, 44);
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .volunteer-form input[type="submit"]:hover {
        background-color: rgb(7, 7, 44);
    }

    .volunteer-form .radio-group label {
        display: inline-block;
        margin-right: 10px; 
    }

.div1 {
    padding: 10px;
    margin-left: 5%; 
    margin-right: 5%;
    width: 90%; 
}


.program-block {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}


.list-block {
    margin-top: 10px;
}

.year-text {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px; 
    display: block;
    padding: 8px;
}


.checkbox-label {
    display: inline-block; 
    width: 20%; 
    margin-bottom: 8px;
    padding: 0 10px; 
}

.checkbox-label input[type=checkbox] {
    margin-right: 5px; 
  
}

.checkbox-label label {
    font-size: 14px;
    color: #555;
}

input[type="submit"] {
    background-color: rgb(7, 7, 44);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 50%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: rgb(7, 7, 44);
}

@media (max-width: 992px) {
    .div1 {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .checkbox-label {
        width: 50%; 
    }
}

@media (max-width: 576px) {
    .checkbox-label {
        width: 100%; 
    }
}
