.volunteer-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.volunteer-form legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.volunteer-form label {
    display: block;
    margin-bottom: 5px;
}

.volunteer-form input[type="text"],
.volunteer-form input[type="number"],
.volunteer-form input[type="tel"],
.volunteer-form input[type="date"],
.volunteer-form input[type="email"],
.volunteer-form select,
.volunteer-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.volunteer-form input[type="radio"] {
    margin-right: 5px;
}

.volunteer-form textarea {
    resize: vertical;
}

.volunteer-form input[type="submit"] ,#back{
    background-color: rgb(7, 7, 44);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.volunteer-form input[type="submit"]:hover {
    background-color: rgb(7, 7, 44);
}

.volunteer-form .radio-group label {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between radio buttons */
}