body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: url("{% static '/images/background.jpeg' %}") no-repeat center center;
    background-size: cover;
}

/* Flex container for the login page */
.login-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Left section for the illustration */
.illustration-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 7, 44);
    color: white;
    padding: 20px;
}

/* Adjust illustration image size */
.illustration-section img {
    max-width: 100%;
    height: auto;
}

/* Right section for the form */
.form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

/* Form container styling */
.custom-form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: linear-gradient(135deg, #04083f, #65718a);

}

/* Heading style */
.heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Input field styling */
.custom-input {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 40px;
    position: relative;
}

/* Icon styling */
.fa {
    position: absolute;
    left: 10px;
    top: 35px;
    color: #aaa;
}

/* Submit button styling */
.custom-submit {
    width: 100%;
    background-color: rgb(7, 7, 44);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for the submit button */
.custom-submit:hover {
    background-color: rgb(7, 7, 44);
}

/* Learn more button styling */
.learn-more-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.learn-more-btn:hover {
    background-color: white;
    color: #007bff;
}

/* Media Queries */
@media (max-width: 768px) {
    body, html {
        background: none;
    }
    
    .login-container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .illustration-section {
        display: none;
    }

    .form-section {
        flex: none;
        width: 100%;
        padding: 10px;
    }

    .custom-form-container {
        padding: 10px;
    }

    .custom-input {
        width: calc(100% - 30px);
    }

    .fa {
        top: 25px;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 20px;
    }

    .custom-submit {
        padding: 12px 16px;
        font-size: 14px;
    }

    .login-container {
        width: 100%;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 1);
    }
}