/* General styles */


.print-content {
    margin: 20px auto;
    max-width: 800px;
}

.event-container {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: justify;
    background-color: #fff;
    page-break-inside: avoid; /* Prevent breaking inside event containers */
}

.event-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.event-date {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.event-description {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
    margin-bottom: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.no-print {
    text-align: center;
    margin-top: 20px;
}
.reportimg{
    width: 100%;
    height: auto;
    top: 0;
}

.print-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    visibility:hidden;
}

@media print {
    .no-print {
        display: none !important;
    }
    body * {
        visibility: hidden;
    }
    .print-content, .print-content * {
        visibility: visible;
    }
    .print-content {
        margin: 20px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .event-container{
        border: none;
    }
    .watermark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.1;
        pointer-events: none;
        user-select: none;
        z-index: 0;
    }
}
