{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/add_event.css'%}">
</head>
    {% if request.GET.message %}
    <p align="center" style="color:green">{{ request.GET.message }}</p>
    {% endif %}
    <form class="add-event-form" method="post" action="{% url 'add_camp' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="camp_name">Camp Name:</label>
        <input type="text" id="camp_name" name="camp_name" required>
        <label for="fromdate">From:</label>
        <input type="date" id="fromdate" name="fromdate" required>
        <label for="todate">To:</label>
        <input type="date" id="todate" name="todate" required>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
{% endblock %}
