{% extends 'nss/base.html' %}

{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static '/css/event2.css'%}">
</head>
  <div style="display: flex; justify-content: center; gap: 20px;">
    <div class="card">
      <a href="{% url 'add_camp' %}" class="link">
        <img src="{% static '/images/camp.jpeg' %}" alt="Event Pictures" class="card-image">
        <div class="card-text">Add Camp</div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'campattendance' %}" class="link">
        <img src="{% static '/images/attendance.png' %}" alt="Event Details" class="card-image">
        <div class="card-text">Attendance</div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'campevent' %}" class="link">
        <img src="{% static '/images/events.png' %}" alt="Event Pictures" class="card-image">
        <div class="card-text">Camp Event</div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'camp_report' %}" class="link">
        <img src="{% static '/images/reports.png' %}" alt="Event Pictures" class="card-image">
        <div class="card-text">Report</div>
      </a>
    </div>
  </div>

{% endblock %}
