{% extends 'nss/base.html' %}
{% load static %}



{% block content %}
<link rel="stylesheet" href="{% static 'css/report.css' %}">

    {% if event %}
        <div class="print-content">
            <img src="{% static 'images/nss.png' %}" alt="Watermark" class="watermark">
            {% for event_item in event %}
                <div class="event-container">
                    <div class="header-content">
                        <img src="{% static '/images/banner2.png' %}" class="reportimg"> 
                    </div>
                    <h1 class="event-heading" align="center">{{ event_item.event_name | upper }}</h1>
                    <div class="event-date">{{ event_item.date }}</div>

                    <div class="event-description">

                                {{ event_item.des }}

                    </div>

                    <div class="image-gallery">
                        {% for pic_item in pics %}
                            {% if pic_item.photo %}
                                {% if pic_item.event.event_id == event_item.event_id %}
                                    <div class="gallery-item">
                                        <img src="{{ pic_item.photo.url }}">
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="no-print">
            <button class="print-button" onclick="printPdf()">Print as PDF</button>
        </div>
    {% else %}
        <h1 align="center">No Events</h1> 
    {% endif %}

    <script>
        function printPdf() {
            window.print();
        }
    </script>
{% endblock %}