{% extends 'nss/base.html' %}

{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/event2.css' %}">
</head>
  <div style="display: flex; justify-content: center; gap: 20px;">
    <div class="card">
      <a href="{% url 'add_camp_event' %}" class="link">
        <img src="{% static 'images/eventdet.png' %}" alt="Event Pictures" class="card-image">
        <div class="card-text">Add Event</div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'camp_photo' %}" class="link">
        <img src="{% static 'images/eventpic.jpg' %}" alt="Event Details" class="card-image">
        <div class="card-text">Event Pictures</div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'camp_event_view' %}" class="link">
        <img src="{% static 'images/eventview.png' %}" alt="Event Pictures" class="card-image">
        <div class="card-text">View Event</div>
      </a>
    </div>
  </div>

{% endblock %}
