{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/add_event.css'%}">
</head>
    {% if request.GET.message %}
    <p align="center" style="color:green">{{ request.GET.message }}</p>
    {% endif %}
    <form class="add-event-form" method="post" action="{% url 'add_event' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="event_name">Event Name:</label>
        <input type="text" id="event_name" name="event_name" required>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
{% endblock %}
