{% extends 'nss/base.html' %}
{% load static%}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static '/css/event_photos.css'%}">
</head>
{% if request.GET.message1 %}
<p align="center" style="color:red">{{ request.GET.message1 }}</p>
{% endif %}
{% if request.GET.message2 %}
<p align="center" style="color:green">{{ request.GET.message2 }}</p>
{% endif %}
<form class="event-picture-forms" method="post" action="{% url 'event_photos' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="event_name">Event:</label>
    <select id="event_name" name="event_name" required>
        <option value="" disabled selected></option>
        {% for i in even %}
        <option value="{{ i.event_id }}">{{ i.event_name }}-{{i.date}}</option>
        {% endfor %}
    </select>

    <h4>Maximum Image Size:500 kb</h4>
    <h4>Maximum Images:3</h4>
    <label for="photo">Image:</label>
    <input type="file" id="photo" name="photo" accept="image/*" maxlength="500000" required>
    <input class="buttons" type="submit" value="Upload" onclick="return validateFileSize()">
    <input class="buttons" type="reset" value="Reset">
    <a href="javascript:history.back()" class="buttons" style="text-decoration: none;">Cancel</a>
</form>

<script>
    function validateFileSize() {
        var fileInput = document.getElementById('photo');
        if (fileInput.files.length > 0) {
            var fileSize = fileInput.files[0].size; // in bytes
            var maxSize = 500 * 1024; // 500KB in bytes
            if (fileSize > maxSize) {
                alert('File size exceeds 500KB limit.');
                return false;
            }
        }
        return true;
    }
</script>
{% endblock %}