{% extends 'nss/base.html' %}
{% load static %}
{% block title %}
Add Volunteer
{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/add_volunteer.css' %}">
</head>

<div class="main">
    <div class="main-body">
        <div class="main-block">
            <h5>Add Volunteer</h5>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-fields">
                    <div class="form-field">
                        <label for="{{ form.name.id_for_label }}">Name:</label>
                        {{ form.name }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.guard_name.id_for_label }}">Guardian's Name:</label>
                        {{ form.guard_name }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.guard_mob_no.id_for_label }}">Guardian's Mobile Number:</label>
                        {{ form.guard_mob_no }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.sex.id_for_label }}">Sex:</label>
                        {{ form.sex }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.dob.id_for_label }}">Date of Birth:</label>
                        {{ form.dob }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.program.id_for_label }}">Programme:</label>
                        {{ form.program }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.year.id_for_label }}">Year:</label>
                        {{ form.year }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.community.id_for_label }}">Community:</label>
                        {{ form.community }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.address.id_for_label }}">Address:</label>
                        {{ form.address }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.blood_group.id_for_label }}">Blood Group:</label>
                        {{ form.blood_group }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.height.id_for_label }}">Height (cm):</label>
                        {{ form.height }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.weight.id_for_label }}">Weight (kg):</label>
                        {{ form.weight }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.mobile_no.id_for_label }}">Mobile Number:</label>
                        {{ form.mobile_no }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.Email_id.id_for_label }}">Email ID:</label>
                        {{ form.Email_id }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.year_of_enrollment.id_for_label }}">Year of Enrollment:</label>
                        {{ form.year_of_enrollment }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.cultural_talents.id_for_label }}">Cultural Talents:</label>
                        {{ form.cultural_talents }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.hobbies.id_for_label }}">Hobbies:</label>
                        {{ form.hobbies }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.roll_no.id_for_label }}">Roll Number:</label>
                        {{ form.roll_no }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.unit.id_for_label }}">Unit:</label>
                        {{ form.unit }}
                    </div>

                    <div class="form-field">
                        <label for="{{ form.image.id_for_label }}">Upload Image:</label>
                        {{ form.image }}
                    </div>
                </div>

                <div class="submit-input">
                    <input type="submit" value="Add Volunteer">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
