{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/add_event.css'%}">
</head>
<div class="add-event-form">
    {% if request.GET.message1 %}
    <p align="center" style="color:red">{{ request.GET.message1 }}</p>
    {% endif %}
    {% if request.GET.message2 %}
    <p align="center" style="color:green">{{ request.GET.message2 }}</p>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="event_name">Event Name:</label>
        <select name="event_name" id="event_name" required>
            <option value="">Select Event</option>
            {% for i in even %}
            <option value="{{ i.event_id }}">{{ i.event_name }}</option>
            {% endfor %}
        </select>
        
    <h4>Maximum Image Size:500 kb</h4>
    <h4>Maximum Images:3</h4>
        <label for="id_photo">Photo:</label>
        {{ form.photo }}
        
        <input type="submit" value="Upload">
        <input type="reset" value="Reset">
    </form>
</div>
{% endblock %}