{% extends 'nss/base.html'%}
{% load static %}
{% block title %}
attendance
{% endblock%}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static '/css/add_event.css'%}">
</head>

<div class="add-event-form">
    {% if request.GET.message %}
    <p align="center" style="color:green">{{ request.GET.message }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        <label for="id_event_name">Event Name:</label>
        {{ event_form.event_name }}
        
        <label for="id_date">Date:</label>
        {{ event_form.date }}
        
        <label for="id_des">Description:</label>
        {{ details_form.des }}
        
        <input type="submit" value="Update">
        <input type="reset" value="Reset">
    </form>

    {% if event_photos %}
    <div class="photos-section">
        <h3>Event Photos</h3>
        {% for photo in event_photos %}
        <div class="photo-item">
            <img src="{{ photo.photo.url }}" alt="Event photo" style="max-width: 200px;">
            <a href="{% url 'delete_images' photo.id event.event_id %}" 
               onclick="return confirm('Are you sure you want to delete this image?')" 
               class="delete-btn">Delete</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}