{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/event_details.css'%}">
</head>
<div class="event-form">
    {% if request.GET.message1 %}
    <p align="center" style="color:green">{{ request.GET.message1 }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="event_name">Event Name:</label>
        <select name="event_name" id="event_name" required>
            <option value="">Select Event</option>
            {% for i in even %}
            <option value="{{ i.event_id }}">{{ i.event_name }}</option>
            {% endfor %}
        </select>
        
        <label for="id_des">Description:</label>
        <textarea name="des" id="id_des" required></textarea>
        
        <label for="id_expense">Expense:</label>
        <input type="number" name="expense" id="id_expense" required>
        
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</div>
{% endblock %}
