{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/add_event.css'%}">
</head>
<div class="add-event-form">
    <form method="post" action="{% url 'monthly_report' %}">
        {% csrf_token %}
        
        <label for="id_year">Year:</label>
        {{ form.year }}
        
        <label for="id_month">Month:</label>
        {{ form.month }}
        
        <div class="button-group">
            <input type="submit" value="Generate Report">
            <input type="reset" value="Reset">
        </div>
    </form>
</div>
{% endblock %}
