{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/add_event.css'%}">
</head>
<div class="add-event-form">
    <form method="post" action="{% url 'yearly_report' %}">
        {% csrf_token %}
        
        <label for="id_fromyear">From Date:</label>
        {{ form.fromyear }}
        
        <label for="id_toyear">To Date:</label>
        {{ form.toyear }}
        
        <div class="button-group">
            <input type="submit" value="Generate Report">
            <input type="reset" value="Reset">
        </div>
    </form>
</div>
{% endblock %}
